<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">

    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui text container">
      <div>
        <%= render partial: '/layouts/partials/home_button_and_app_name' %><br>
      </div>

      <% flash.each do |type, notice| %>
          <div class="alert alert-info">
            <p><%= notice %></p>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
